
# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.packages
pubspec.lock


# Flutter
app/build/
app/.dart_tool/
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/.packages
app/melos_tool/

# IDE & OS
.vscode/
.idea/
.DS_Store
